.box {
  background-color: white;
  border-radius: 20px;
  width: 350px;
}

.qr-code {
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  border-radius: 10px;
}

h1 {
  text-align: center;
  font-family: "Outfit", sans-serif;
  font-size: 30px;
}

p {
  text-align: center;
  font-size: 20px;
  font-family: "Outfit", sans-serif;
  color: hsl(220, 15%, 55%);
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.attribution {
  font-size: 10px;
  text-align: center;
  margin-top: 0;
}

body {
  background-color: hsl(212, 45%, 89%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
